
@import 'Variables';
@import 'Loading';


@import 'Header';
@import 'Navbar';
@import 'Footer';
@import 'Cart';
@import 'Orders';
@import 'Addresses';
@import 'Checkout';

@import 'Categories';
@import 'Account';
@import 'SignUp';

@import 'Product';
@import 'Products';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Montserrat', arial, sans-serif;
}

body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline:none;
}

main {
  min-height:60vh;
}


li{
  list-style-type: none;
}

a {
  color: inherit;
  outline:none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}


.button {
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  color: whitesmoke;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
}



.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h3 {
  color: slategrey;
  border-bottom: 1px solid lightgray;
}


.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}



.mrp {
  color: grey;
  font-size: 0.8rem;
  margin-left: 5px;
}


.show {  display:block; }
.hide {  display:none; }

