
.cart {
  img{
    width:4rem;
  }
}

.cart-items {
  margin:5px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);

  .cart-item {
    width:100%;
    max-width: 600px;
    font-size: 1rem;
    display: grid;
    justify-self:center;
    align-self:center;
    grid-column: span 12;
    grid-template-columns: repeat(12,1fr);
    padding:1rem 0;
    border: 1px solid lightgray;

    .product-image {
      grid-area: 1/1/6/3;
      justify-self: center;
      align-self: center;
    }
    .product-info {
      grid-area: 1/3/5/11;
      .product-name {
        font-weight: bold;
      }
      .product-brand {
        font: 700 0.8rem 'Open Sans'; 
        color: dimgray;
        letter-spacing: 1px;
        }
      & > * {
        margin-bottom:0.2rem;
      }
      .red {
        color:tomato;
      }
      .green {
        color:seagreen;
      }
    }
    .quantity{
      padding-top:.5rem;
      grid-area: 5/3/6/10;

      span {
        padding: 1rem;
      }
    }
    .remove {
      padding-top:.5rem;
      grid-area: 5/10/6/12;
      justify-self: center;
    }
    .total {
      grid-area: 1/10/3/12;
      justify-self: center;
      align-self: center;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
    }
    input[type='number'] {
      -moz-appearance:textfield;
      width: 20px;
      height: 100%;
      text-align:center;
    }
    
     .fa-times, .fa-plus, .fa-minus, .fa-heart {
      box-shadow: 0px 0px 2px #888;
      padding: 0.5em 0.6em;
    }
  }
  .checkout {
    max-width: 600px;
    font-size: 1rem;
    justify-self:center;
    grid-column: span 12;
    padding:1rem 0;
    }

 }



@media screen and (min-width: 620px){
}

@media screen and (min-width: 960px){
  .cart {
    width:80%;
    margin: 0 auto;
  }
  .cart-items {
   .checkout {
    width: 80%;
    max-width: 600px;
    font-size: 1rem;
    justify-self:center;
    grid-column: span 13;
    padding:1rem 0;
    }
  } 

}

@media screen and (min-width: 1200px){ 

}
