

footer {
  display: grid;
  padding: 5vh 0 0 0;
  margin: 2rem 0 0 0;
  grid-template-columns: repeat(12,1fr);

  row-gap: .5rem;
  color: #ccc;
  background: $primary-color;
  white-space: nowrap; 

  
  .fab {
    margin-right: 5px;
  }

  .scroll-top {
    grid-column: span 12;
    text-align: center;
    background: $scrolltop-color;
    color: whitesmoke;
    padding:1.2rem;
    cursor:pointer;
  }
  .scroll-top:hover {
    background: #4c5671;
  }
  
  .footer-list {
    grid-column: span 12;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom:20px;
    line-height: 1.5rem;
  }
  .footer-list > section {
    grid-column: span 6;
    margin:0 20px 0 20px;
  }
  .footer-list a {
    color: #ccc;
    font-size: 0.9rem;
  }
 


  .social-connect{
    grid-column: span 12;
    font-size: 1.8em;
    justify-self: center;
    align-self:center;
    margin: 0 0 1rem 0;
  }

  .copyright {
    font-size: 0.9rem;
    grid-column: span 12;
    justify-self: center;
    align-self:center;
    margin: 0 0 1rem 0;
  }
}



/* Mobile Styles */

@media screen and (min-width: 620px){
   footer {
    .social-connect{
      grid-column: span 4;
    }

    .copyright {
      grid-column: span 8;
    }
    
    .footer-list > section {
      grid-column: span 3;
      justify-self: center;
    }
  }
 
}

@media screen and (min-width: 960px){
  footer {
    .social-connect{
      grid-column: span 3;

    }

    .copyright {
      grid-column: span 9;
    }
    
    .footer-list > section {
      grid-column: span 3;
      justify-self: center;
    }
  }
}

@media screen and (min-width: 1200px){ 

}
