@import 'Variables';


.navbar {
  height:50px;
  color: $nav-color;
  & > ul {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    position:fixed;
    background: $primary-color;
    box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.4);
    white-space: nowrap;
  }
  & > li {
    align-self: center;
    justify-self: center;
    color: $nav-color;
  }

  sup {
    color: coral;
    font-weight:bold;
    background: green;
    border-radius: 10px;
    padding:2px;
  }
  .fas {
    margin-right:4px;
    font-size: 16px;
  }
  
  .button {
    padding: 14px;
    cursor: pointer;
  }
  .button:hover {
    padding: 14px;
    background: slategrey;
  }
  .more {
    justify-self: flex-end;
  }
}

.searchbox {
  align-self: center;
  justify-self: center;
  & > .search-container {
    width:100%;
    display:flex;
  }
  //Copied https://codepen.io/huange/pen/rbqsD?editors=1100
  input{
    border: 3px solid $searchborder;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    color: slategrey;
  }  
   button {
    width: 40px;
    height: 36px;
    border: 1px solid $searchborder;
    background: $searchborder;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
}

.dropdown {
  position: relative;
  justify-self: flex-start;

  &:hover .dropdown-content{
    visibility: visible;
    pointer:default;
  }

  .dropdown-content > li {
    cursor:default;
  }

  & > ul {
    position: absolute;
    border-bottom: 1px solid grey;
    background: whitesmoke;
    display: flex;
    visibility:hidden;
    flex-direction: column;
    z-index:1;
  }
  & > ul > li {
    color: black;
    padding: 14px;
    width:250px;
  }
  & > ul :hover {
    background: slategrey;
  }
  .dropdown-content-left {
    position: absolute;
    border: 1px solid slategrey;
    left: 100%;
    top: 0;
    background: whitesmoke;
    visibility:hidden;
    width: 60vw;
    height: 75vh;
  }
  .dropdown-left:hover  .dropdown-content-left{
    visibility:visible;
    background: whitesmoke;
  }
}





/* Fonts */

/* Mobile Styles */

@media screen and (min-width: 620px){

}

@media screen and (min-width: 960px){

}

@media screen and (min-width: 1200px){ 

}
