

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background: #2b2e3c;
  height: 100%;
  z-index: 1;
  overflow-x:scroll;
  display: none;
}

.sidenav-header {
  height:50px;
  background-color: mediumturquoise;
  color: ghostwhite;
  .sidenav-heading{
    height: 100%;
    width: 90%;
    font: 600 1.2rem 'Open Sans'; 
  }
  .sidenav-close{
    display: inline;
    position: absolute;
    top:10px;
    right:20px;
  }
}

.sidenav-body-category, .sidenav-body-subcategory {
  display:block;
  .sidenav-item {
  }
  .button {
    display: block;
    text-align: start;
  }
  .button:hover {
    background: steelblue;
  }
}



