

.product-item {
  padding: 1rem;
  margin:5px;
  border: 1px solid gainsboro;
  height: 100px;
  .product-image{
    grid-area: 1/1/6/4;
    justify-self: center;
    img {
      width: 100px;
    }
  }
  .product-name{
    grid-area: 1/5/2/13;
    font: 400 1.3rem 'Open Sans'; 
  }
  .product-brand {
    grid-area: 2/5/3/13;
    font: 700 0.8rem 'Open Sans'; 
    color: dimgray;
    letter-spacing: 1px;
  }

  .product-quantity {
    grid-area: 3/5/5/13;
    align-self: center;
    font: 300 0.8rem Open Sans; 
  }
  .product-price {
    grid-area: 5/5/6/9;
    align-self: center;
    font: 400 1.1rem Open Sans; 
  }
  .addtocart {
    grid-area: 5/7/6/13;
    margin-top:10px;
    justify-self: end;
    align-self: center;
    div {
      color: whitesmoke;
      background-color:darkseagreen;
      border-radius: 5px;
      padding:5px;
      font: 700 .9rem 'Open Sans'; 
      
    }
    i{
      font-size: 1rem;
      margin-left: 4px;
    }
    div:hover{
      background-color: olivedrab;
      cursor: pointer;
    }
  }
}


@media screen and (min-width: 620px){
}

@media screen and (min-width: 960px){
.product-item {
  width: 250px;
  height: 250px;
  .product-image{
    grid-area: 1/1/3/13;
    justify-self: center;
  }
  .product-name {
    grid-area: 3/1/4/13;
  }
  .product-brand {
    grid-area: 4/1/5/13;
  }
  .product-price {
    grid-area: 7/1/8/6;
  }
  .product-quantity {
    grid-area: 5/1/7/13;
  }
  .addtocart {
    grid-area: 7/6/8/13;
  }
}

}

@media screen and (min-width: 1200px){ 

}
