
$primary-color: #2b2e3c;

$nav-color: whitesmoke;

$searchborder : darkseagreen;

$scrolltop-color : #545b6f;



h5 {
 font-size: 1.1rem;
 margin-bottom: 0.5rem;
}

.rem12{font: 300 italic 1.2rem 'Montserrat'}
.rem13{font: 300 italic 1.3rem 'Montserrat'}
.rem14{font: 300 italic 1.4rem 'Montserrat'}
.rem15{font: 300 italic 1.5rem 'Montserrat'}

.success {  color:greenyellow; }
.warning { color: lemonChiffon; }
.error { color: orangered; }

